/*
@media (min-width: 320px) {
    .nav-wrapper {
        width: 100%;
    }

}

@media (min-width: 480px) {}

@media (min-width: 640px) {
    nav {
        display: block;
    }
    .nav-wrapper {
        justify-content: space-between;

    }
}

@media (min-width: 768px) {}

@media (min-width: 1025px) {}

@media (min-width: 1200px) {}

*/



@media only screen and (max-width : 1200px) {

    .contacts {
        flex-wrap: wrap;
    }
}


@media only screen and (max-width : 1024px) {}


@media screen and (max-width : 992px) {

    .photos-wrapper img {
        width: 200px;
        padding: 10px;
    }

    .contacts {
        /*                box-sizing: content-box;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        height: 200px;
        width: 87%;
        margin: auto;
        padding-bottom: 30px;
        /*        background-color: #999999;*/
    }

    .photo {
        height: 200px;
        width: 200px;
        margin: 5px;
    }

}

@media screen and (max-width : 768px) {

    hr {
        margin: 70px auto;
    }

    .nav-wrapper {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-wrapper-after {
        margin: 30px auto;
    }

    .nav-wrapper .logo {
        margin: auto;
        margin-bottom: 30px;
    }

    .nav-wrapper nav {
        margin: auto;
    }

    header {
        margin-bottom: 10px;
    }

    .header-title {
        font-size: 38px;
    }

    .photos-wrapper .photos-3 {
        /*        display: none;*/
    }

    .photos-wrapper img {
        width: 200px;
        padding: 10px;
    }

    .contacts {
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        width: 87%;
        margin: auto;
        padding-bottom: 30px;
        /*        background-color: #999999;*/
    }

    .photo {
        height: 170px;
        width: 170px;
        margin: 5px;
    }

}

@media screen and (max-width : 576px) {
    .wrapper {
        width: 100%;
    }

    hr {
        margin: 50px auto;
    }

    .nav-wrapper-after {
        margin: 30px auto;
    }

    header {
        margin-bottom: 10px;
    }

    .header-title {
        font-size: 34px;
    }

    .photos-wrapper img {
        width: 200px;
        padding: 10px;
    }


    .photo {
        height: 170px;
        width: 170px;
    }

}

@media screen and (max-width : 480px) {

    .wrapper {
        width: 100%;
    }

    hr {
        margin: 30px auto;
    }

    nav {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        position: fixed;
        /*        position: absolute;*/
        top: -100px;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        transition: 0.6s;
        transform: translate(0, -100%);
        background-color: #ffffff;
        width: 100vw;
        height: 100vh;
        z-index: 2;
    }

    nav .nav-item {
        margin: 0 auto;
    }

    nav .nav-item:last-child {
        margin-right: auto;
    }

    .nav-wrapper {
        display: block;
        width: 100%;
    }

    .nav-wrapper .logo {
        margin: auto;
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .nav-wrapper .logo {
        margin-left: 50px;
    }

    .menu-burger {
        display: block;
    }

    .header-title {
        font-size: 28px;
    }

    .header-description {
        width: 80%;
        font-size: 14px;
        line-height: 2;
    }

    .main-photo img {
        width: 100%;
    }

    .photos-wrapper .photos-3 {
        display: none;
    }

    .photos-wrapper img {
        width: 150px;
        padding: 10px;
    }

    .photo {
        height: 210px;
        width: 210px;
    }

    .photo-1 {
        background-blend-mode: multiply;
        background-image: url(../img/IMG-8161.jpg);
        background-position: -48px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-2 {
        background-image: url(../img/IMG-8160.jpg);
        background-position: -53px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-3 {
        background-image: url(../img/IMG-8159.jpg);
        background-position: -6px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-4 {
        background-image: url(../img/IMG-8158.jpg);
        background-position: -52px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-5 {
        background-image: url(../img/IMG-8163.jpg);
        background-position: center -4px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-6 {
        background-image: url(../img/IMG-8166.jpg);
        background-position: -32px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .map iframe {
        height: 160px;
    }

    .contacts .adress {
        text-align: center;
    }

}

@media only screen and (max-width : 375px) {

    .photo {
        height: 178px;
        width: 178px;
        margin: 1px;
    }

    .photo-1 {
        background-blend-mode: multiply;
        background-image: url(../img/IMG-8161.jpg);
        background-position: -48px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-2 {
        background-image: url(../img/IMG-8160.jpg);
        background-position: -53px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-3 {
        background-image: url(../img/IMG-8159.jpg);
        background-position: -6px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-4 {
        background-image: url(../img/IMG-8158.jpg);
        background-position: -52px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-5 {
        background-image: url(../img/IMG-8163.jpg);
        background-position: center -4px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

    .photo-6 {
        background-image: url(../img/IMG-8166.jpg);
        background-position: -32px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 2px solid #ffffff;
    }

}

@media only screen and (max-width : 320px) {

    .header-title {
        font-size: 28px;
    }

    .header-description {
        font-size: 12px;
    }

    .photos-wrapper {
        display: flex;
    }

    .photos-wrapper .photos-3 {
        display: none;
    }

    .photo {
        height: 150px;
        width: 150px;
    }

    .photo-1 {
        background-blend-mode: multiply;
        background-image: url(../img/IMG-8161.jpg);
        background-position: -40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 1px solid #ffffff;
    }

    .photo-2 {
        background-image: url(../img/IMG-8160.jpg);
        background-position: -45px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 1px solid #ffffff;
    }

    .photo-3 {
        background-image: url(../img/IMG-8159.jpg);
        background-position: -6px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 1px solid #ffffff;
    }

    .photo-4 {
        background-image: url(../img/IMG-8158.jpg);
        background-position: -44px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 1px solid #ffffff;
    }

    .photo-5 {
        background-image: url(../img/IMG-8163.jpg);
        background-position: center -2px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 1px solid #ffffff;
    }

    .photo-6 {
        background-image: url(../img/IMG-8166.jpg);
        background-position: -32px;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        border: 1px solid #ffffff;
    }

    .photos-wrapper img {
        width: 120px;
        padding: 10px;
    }

    .contacts .adress {
        text-align: center;
    }

}


/*
@media (orientation : portrait) {

    .nav-wrapper {
        background-color: red;
    }

}
*/
