* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    /*    max-width: 1200px;*/
    min-width: 100px;
    margin: auto;
    padding: 0;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}


.wrapper {
    width: 85%;
    background-color: #fbfbfb;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 10px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

/*
.header_top {
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 10px 100px;
}
*/

.main-menu {
    display: inline-block;
    float: left;
}

.main-menu ul li {
    /*    display: inline;*/
    float: left;
    list-style: none;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}

.main-menu ul li:first-child {
    padding-left: 0;
}

.main-menu ul li:last-child {
    padding-right: 0;
}

.main-menu ul li a {
    text-decoration: none;
    color: #000
}

.main-menu ul li a:hover {
    color: #777777;
    text-decoration: underline;
}

.lang {
    display: inline-block;
    float: left;
    /*    position: relative;*/
    /*    top: -25px;*/
}

.logo {
    display: inline-block;
    float: left;
}

.logo img {
    height: 45px;
    width: 165px;
}

.lang img {
    height: 40px;
    width: 40px;
}

.header_bottom img {
    width: 100%;
    max-width: 1200px;
    /*        max-height: 800px;*/
    display: block;
    margin: auto;
}

/***************************/

hr {
    height: 1px;
    width: 87%;
    margin: 100px auto;
    background-color: #f0f4f4;
    background-color: #666666;
    border: none;
}

/***************************/

.about_info,
.price_info {
    max-width: 800px;
    margin: 10px auto;
    padding: 0 20px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 30px;
}

.pool_main,
.sauna_mix_main,
.sauna_women_main,
.solarium_main,
.massage_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.pool_main,
.sauna_women_main,
.massage_main {
    flex-direction: row-reverse;
}

.pool img,
.sauna_mix img,
.sauna_women img,
.solarium img,
.massage img {
    height: 500px;
    width: 500px;
    border: 2px solid #333333;
}

.pool_info,
.sauna_mix_info,
.sauna_women_info,
.solarium_info,
.massage_info {
    position: relative;
    width: 40%;
    text-align: center;
}

.first-paragraph {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

/***************************/

.price_info table {
    width: 700px;
    margin: 20px auto;
    border: 3px solid #000;
    /*    border-collapse: separate;*/
    border-spacing: 1px;
}

table td {
    padding: 2px 10px;
}

/***************************/

footer {
    background-color: #030303;
    color: #c4c4c4;
}

h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

footer ul {
    list-style: none;
}

/*
footer table {
    width: 650px;
}
*/

.footer_bottom {
    text-align: center;
}

/*
.footer_bottom::after {
    content: '';
}
*/

.footer_map {
    display: flex;
    justify-content: center;
    padding: 30px 5%;

}


.footer_map iframe {
    width: 1000px;
    height: 400px;
    border: 3px solid #000
}

h4 {
    padding-bottom: 10px;
}




/***************************/




/*      UP      */


.top img {
    position: fixed;
    right: -100px;
    bottom: 25px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    z-index: 10;
    transition: all ease 0.3s;
}

.top img:hover {
    background-color: #4c7eef;
    opacity: 1;
}

.top img.active {
    right: 25px;
}





/***************************/











/***************************/
